
/*--- base start ---*/
.tail-button {
   @apply inline-flex items-center border border-transparent rounded-3 font-medium bg-transparent
}
/*--- base end ---*/

.tail-button--large {
    @apply px-5 py-4 text-lg
}

.tail-button--small {
    @apply px-3 py-2 text-sm;
}

.tail-button--medium {
    @apply px-4 py-3 text-base
}

.tail-button--mini {
    @apply px-1 py-1 text-xs
}


/*--- colors start ---*/
.tail-button--primary {
    @apply text-white bg-blue-500
}

.tail-button--primary:hover, .tail-button--primary:active, .tail-button--primary:focus {
    @apply bg-blue-600
}

.tail-button--info {
    @apply text-gray-700 bg-blueGray-100 border-gray-200
}

.tail-button--info:hover, .tail-button--info:active, .tail-button--info:focus {
    @apply  bg-blueGray-200 border-gray-300
}


.tail-button--default {
    @apply text-black  border-gray-300
}

.tail-button--default:hover, .tail-button--default:active, .tail-button--default:focus {
    @apply border-gray-200
}

.tail-button--success {
    @apply text-white bg-green-600
}

.tail-button--success:hover, .tail-button--success:active, .tail-button--success:focus {
    @apply bg-green-800
}

.tail-button--warming {
    @apply text-white bg-yellow-600
}

.tail-button--warming:hover, .tail-button--warming:active, .tail-button--warming:focus{
    @apply bg-yellow-700
}

.tail-button--danger {
    @apply text-white bg-red-600
}
.tail-button--danger:hover {
    @apply bg-red-700
}
.tail-button--danger:active, .tail-button--danger:focus {
    @apply bg-red-700
}


.tail-button--text {
    @apply text-black
}


.tail-button--link:hover {
    @apply underline cursor-pointer
}

/*--- colors end ---*/

/*----- prop element start ---*/
.is-loading {
    @apply transition ease-in-out duration-150
}

.is-disabled {
    @apply cursor-not-allowed opacity-25;
}

.is-disabled:hover {
    @apply cursor-not-allowed opacity-25;
}

.is-animation:hover {
    @apply transition duration-500 ease-in-out;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.is-round {
    @apply rounded-none
}

.is-circle {
    @apply rounded-full
}
/*----- prop element end ---*/


/*----- button-group start ---*/

.tail-button-group {
    @apply inline-block;
    vertical-align: middle;
}
/*----- button-group end ---*/
